body {
    background-color:#FFFF99;
}
h1 {
    color:orange;
    text-align:center;
}
p {
    font-family:"Times New Roman";
    font-size:20px;
}
<embed src="淋雨一直走.mp3"hidden="true"
    autostart="true" loop="true"/>
</embed>
